/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* CSS Reset above */

:root {
    --black: rgb(0, 0, 0);
    --offwhite: rgb(247, 247, 247);
    --offwhiteseven: rgb(255, 255, 255);
    /*Blue from logs according to website url entered in imagecolorpicker.com*/
    --darkblue: #1f1b56;
    --darkblueeight: #1f1b56cc;
    --shadow: rgba(0, 0, 0, 0.432);
}

html {
    font-size: 12px;
  }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(14px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }
  }

body {
    background-color: var(--offwhite);
    color: var(--darkblue);
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 100vh;
    margin: 0;
}

#top-banner {
  width: 100%;
  height: 38px;
  background-color: var(--offwhite);
}

#top-banner ul {
  display: flex;
  align-items: center;
  margin: 0;
  animation: scroll 45s infinite linear;
}

#top-banner ul li{
  color: var(--darkblue);
  font-size: 12px;
  white-space: nowrap;
  padding: 10px 24px;
  position: relative;
}

#top-banner ul li::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  background-color: rgb(189, 189, 189);
  top: 0;
  right: 0;
}

#top-banner ul li:last-child::after {
  display: none;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-1234px);
  }
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    
}

.header-container {
  background-color: var(--darkblue);
}

.navbar {
    width: 95%;
    margin: auto;
    padding: 0 3rem;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-branding{
    font-size: 20px;
    min-width: 40px;
    height: 40px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}r

h1, h2 {
    padding-bottom: 3rem;
}

li {
    list-style-type: none;
    color: var(--offwhite);
}

a {
    text-decoration: none;
    color: inherit;
}

header .nav-link {
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 20px;
  border: 1px solid transparent;
}

a:hover {
    color: rgba(255, 255, 255, 0.63);
    cursor: pointer;
}

header .current-link {
  border: var(--offwhite) 1px solid;
}

header .current-link:hover {
  color: rgba(255, 255, 255, 0.63);
  border:rgba(255, 255, 255, 0.63) 1px solid;
}


#title {
    text-align: center;
    font-size: 2rem;
}


h1 {
    color: var(--darkblue);
}

h2 {
    color: var(--black);
    text-transform: capitalize;
}

h3 {
  color: var(--black);
  text-transform: capitalize;
}

p {
    max-inline-size: 66ch;
    line-height: 1.75; 
    margin: auto;
    
}

section {   
    text-align:center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: var(--darkblue);
    color: var(--offwhite);
    margin-top: auto;
    height: 178px;
    padding: 20px 5rem;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  margin-bottom: 10px;
}

.footer-nav ul {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-left: 0px;
}

.footer-nav ul li {
  position: relative;
  padding: 0px 10px;
}

.footer-nav ul li:first-child {
  position: relative;
  padding-left: 0px;
}

.footer-nav ul span {
  color: var(--offwhite);
  justify-self: center;
}

.footer_nav ul li:last-child::after {
  display: none;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 120px;
}

footer p {
  font-size: 12px;
  color: var(--offwhite);
  white-space: nowrap;
  margin: 0;
}

.main-site {
  margin-top: 98px;
  min-height: calc(100vh - 276px);
}

.top_home_container {
    min-height: 70vh;
    margin: 3rem;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about_home {
    padding: 5rem 3rem;
    box-shadow: var(--shadow) 0px 0px 200px;
}

.about_home_container {
  margin: 5rem;

}
.private-lending_container{
    margin: 5rem;
    background-color: var(--offwhiteseven);
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow) 0px 0px 20px;
}

.contact_container {
  margin: 0rem 5rem 2.5rem;
  padding: 1rem 3rem;
  border-radius: 10rem;
  background-color: var(--darkblueeight);
  color: var(--offwhite);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact_container h2 {
  color: var(--offwhite);
}

button {
    background-color: var(--darkblue);
    border: none;
    color: var(--offwhite);
    border-radius: 2rem;
    padding: .45rem 1rem;
    
    font-size: .75rem;
    text-transform: uppercase;
}

button:hover {
    font-weight: bold;
    background-color: var(--darkblue);
}

/*contact-form page*/

form {

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page-content {
  padding: 2rem 5rem;
}

.contact-form-names {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.contact-name {
  width: 100%;
}

input[type="tel"],
input[type="email"],
input[type="text"],
textarea {
  width: 100%;
}

.page-intro {
  font-size: 12px;
  margin-left: 0;
}